<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>GoGaga</title>
        <link rel="icon" href="https://lh3.googleusercontent.com/66rcSwfM4ZvgDRp0Ehjb7VMUt4AiOfwmLuhmMQuV6wX8uR2Z_a2eCSz7qDBnA17iYg=s360-rw" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        {{{body}}}
        <div class="foot">
            Developed by :
           <a href="https://gayatrii.herokuapp.com/"><img src="https://www.freelogodesign.org/file/app/client/thumb/2c5aed90-f2f8-4fd5-a449-4988a39d2cf0_200x200.png?1585050948067" width="40" height="40"> Gayatri</a>
        </div>
    </body>
</html>
