<div style="text-align:center; padding: 2%;">
    <h2>{{title}}</h2>
</div>
<div style="text-align:center; padding-bottom: 35%;">
    <a class="butt" href="/gogaga/list">View users</a>
    <a class="butt" href="/gogaga/add">Add new user</a>
</div>